streamlit
firebase-admin      # our Firebase SDK
opencv-python-headless  # headless OpenCV with QRCodeDetector
numpy
Pillow              # for image loading
qrcode              # for generate page
